body {
    font-family: 'Figtree', sans-serif;
    background-color: #eccd45;

}

.container {
    height: 550px;
    width: 400px;
    border: 1px solid #222;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    margin: 200px auto;
    box-shadow: 10px 10px;

}

.img-1 {
    width: 400px;
    border-radius: 20px;
}

.color {
    width: 100px;
    height: 30px;
    background-color: #eccd45;
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.time,
.description {
    color: #666;
    font-size: 18px;
    line-height: 22px;
}

.heading {
    font-size: 26px;
    cursor: pointer;
}

.heading:hover {
    color: #eccd45;
}


.footer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.img-2 {
    height: 40px;
    cursor: pointer;
}

.name {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}